language: python

python:
  - "2.7"

env:
  - CAP_TOOLS_DEV=1

before_install:
  - "export DISPLAY=:99.0"
  # http://docs.travis-ci.com/user/gui-and-headless-browsers/#Configuring-xvfb-screen-size-and-more
  - "/sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -ac -screen 0 1280x1024x16"

install:
  - git clone https://github.com/CAPTools/CAPCreator.git static
  - pip install -r requirements.txt
  - python manage.py collectstatic -v0 --noinput

script:
  # e2e tests currently fail on travis-ci headless machines.
  - python manage.py test tests.test_auth tests.test_utils
