# This file lists dependencies for the application. It's used by Docker
# and referenced by setup.sh script to resolve Python dependencies. You can also
# run 'pip install -r requirements.txt' to install them manually.

# beautifulsoup4 - Used to pretty-print HTML and XML feeds.
beautifulsoup4

# django - CAP collector is written on top of the Django framework.
django

# gunicorn - Python WSGI HTTP Server for Unix. To serve as the prod webserver.
# https://docs.djangoproject.com/en/dev/howto/deployment/wsgi/gunicorn/
gunicorn

# lxml - Required for parsing XML.
lxml

# mock - A Python mocking and patching library for testing.
mock

# MySQL-python - MySQL support.
MySQL-python

# python-dateutil - Easy dates parsing.
python-dateutil

# pytz - Timezone support for Python.
pytz

# pyXMLSecurity - Required for computing XML signatures for CAP messages.
pyXMLSecurity

# selenium - Functional testing framework.
selenium==2.43
