{# Author: arcadiy@google.com (Arkadii Yakovets) #}

{% load i18n %}

<span class="invalid-placeholder-message hidden">
  {% trans "Fill in placeholder" %}
  <span class="invalid-placeholder-message-error"></span>
</span>
