{% load i18n %}
{% load l10n %}

<!DOCTYPE html>
<html>
<!--
  CAPCreator -- Common Alerting Protocol 1.2 composition tool
  version 0.9.3 - 12 June 2014

  Copyright (c) 2013, Carnegie Mellon University
  All rights reserved.

  See LICENSE.txt for license terms (Modified BSD)
 -->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="client/css/jquery.mobile-1.3.0.min.css" />
  <link rel="stylesheet" href="client/css/CAPCreator.css" type="text/css">

  <script src="client/js/jquery-1.10.2.min.js"></script>
  <script src="client/js/jquery.mobile-1.3.0.min.js"></script>
  <script src="client/js/OpenLayers.js"></script>
  <script src="https://maps.google.com/maps/api/js?v=3.7&amp;sensor=false"></script>
  <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>

  <script src="client/js/config.js"></script>
  <script>
    // Define default viewport for map.
    {% localize off %}
    var mapDefaultViewport = {
      centerLat: {{ map_default_viewport.center_lat }},
      centerLon: {{ map_default_viewport.center_lon }},
      zoomLevel: {{ map_default_viewport.zoom_level }}
    };
    {% endlocalize %}
    // Now create a global config object for the whole.
    var config = new CAPCreatorConfiguration(mapDefaultViewport);
  </script>
  <script src="client/js/caplib.js"></script>
  <script src="client/js/cap_map.js"></script>
  <script src="client/js/widgets.js"></script>
  <script src="client/js/CAPCreator.js"></script>

  <title>CAPCreator</title>
</head>

<body>

<!-- CURRENT ALERTS VIEW -->
<div data-role="page" id="current">

  {% include "include/header.inc.tmpl" with tab='current' %}
  <div data-role="content" class="jqm-content">
    <div id="current_alerts_div"><span id="current_alerts_span"></span></div>

    <a href="#" id="current-next-button" data-role="button" data-mini="true" class="ui-mini-smaller main" data-icon="arrow-r"
      data-iconpos="right">{% trans "Issue a new alert" %}</a>

    <div id="alert_view_div" data-role="popup" data-mini="true" data-position-to="#current_alerts_div">
    <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">{% trans "Close" %}</a>
      <span id="alert_view_span"></span>
      <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true" >
        <input type="button" id="update_button" name="update_button" data-mini="true" value="{% trans "Update This Alert" %}">
        <input type="button" id="cancel_button" name="cancel_button" data-mini="true" value="{% trans "Cancel This Alert" %}">
        <input type="button" id="view_button" name="view_button" data-mini="true" value="{% trans "View Alert XML" %}">
      </fieldset>
    </div>
    </br>
    <a href="{% url "feed" "xml" %}" target="_blank" data-role="button" data-mini="true" class="ui-mini-smaller main" data-icon="arrow-r"
      data-iconpos="right">{% trans "Show alert feed" %}</a>
    </br>
    <a href="#popup-about" data-rel="popup" data-role="button" data-mini="true" class="ui-mini about">{% trans "About CAPCreator&trade;" %}</a>
    <div class="about_div" id="popup-about" data-role="popup" data-mini="true">
    <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
      <h3>{% trans "About CAPCreator" %}</h3>
      <span id="alert-info" class="info_block">
        {# TODO(arcadiy): update "About" section with recent improvements. #}
        <b>CAPCreator&trade;</b> is a simple tool for authoring alerts and other messages using the
        <a href="http://docs.oasis-open.org/emergency/cap/v1.2/CAP-v1.2-os.html" target="_blank">Common Alerting Protocol (v1.2)</a>.
        A few noteworthy restrictions on the current version:
        <ul>
          <li>Only one language can be used in a single message (however multiple messages can be authored to address multilingual
           alerting requirements);
          <li>Only one target area can be specified for an individual alert message (but it may include multiple polygons and/or circles);
          and,
          <li>Messages are assumed to be effective immediately.
        </ul>
        <p><b>CAPCreator</b> is designed to integrate with the <b>CAPCollector&trade;</b>
        server for XML serialization, sender authentication, digital signature, alert forwarding and local alert aggregation, and the
        <b>CAPConsumer&trade;</b> framework for CAP message injestion and display.</p>
        <p><b>CAPCreator</b>, <b>CAPCollector</b> and <b>CAPConsumer</b> are open source projects copyright Carnegie Mellon University
        and published under the Modified (3-clause) BSD License.  See source files for full copyright and licensing notices.
        <b>CAPCreator</b>, <b>CAPCollector</b> and <b>CAPConsumer</b> are trademarks of Carnegie Mellon University.</p>
      </span>
    </div>
  </div><!-- /content -->

  {% include "include/footer.inc.tmpl" with tab='current' %}

</div><!-- /page #current-->


<!-- ALERT BLOCK -->
<div data-role="page" id="alert">
  {% include "include/header.inc.tmpl" with tab='alert' %}

  <div data-role="content" class="jqm-content" >
    <div class="form_row_div">
      <div class="templates-control">
        <div class="templates">
          <label class="field_label">{% trans "Message template" %}</label>
          <fieldset data-role="controlgroup" data-type="horizontal" >
            <select name="select-message-template" id="select-message-template" data-mini="true" data-inline="true" onchange="handleMessageTemplateChange('{% url 'template' 'message' %}', '{% url 'admin:core_messagetemplate_add' %}');">
              <option value="None">{% trans "None" %}</option>
             {% for template in message_templates %}
               <option value="{{ template.id }}">{{ template.title }}</option>
             {% endfor %}
             <option value="CreateNewMessageTemplate">{% trans "Create a new message template" %}</option>
            </select>
          </fieldset>
        </div>
        <div class="re-apply">
          <a id="reapply-message-template" href="#" onclick="handleMessageTemplateChange('{% url 'template' 'message' %}', '{% url 'admin:core_messagetemplate_add' %}');">
              {% trans "Reapply template" %}
          </a>
        </div>
      </div>
    </div>
    <div class="divider"></div>

    <div class="form_row_div">
    <label class="field_label">{% trans "Type of message" %}<span class="required">*</span></label>
    <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
      <label for="select-status" class="ui-hidden-accessible">{% trans "Status" %}</label>
      <select name="select-status" id="select-status" class="required-field" data-mini="true" data-inline="true" onchange="view2model(this)">
        <option value="Actual">{% trans "Actual" %}</option>
        <option value="Exercise">{% trans "Exercise" %}</option>
        <option value="Test">{% trans "Test" %}</option>
        <option value="Draft">{% trans "Draft" %}</option>
      </select>
      <label for="select-msgType" class="ui-hidden-accessible">{% trans "Type" %}</label>
      <select name="select-msgType" id="select-msgType" class="required-field ui-disabled" data-mini="true" data-inline="true" onchange="view2model(this)">
        <option value="Alert">{% trans "Alert" %}</option>
        <option value="Update">{% trans "Update" %}</option>
        <option value="Cancel">{% trans "Cancel" %}</option>
      </select>
      <label for="select-scope" class="ui-hidden-accessible">{% trans "Scope" %}</label>
      <select name="select-scope" id="select-scope" class="required-field" data-mini="true" data-inline="true" onchange="view2model(this)">
        <option value="Public">{% trans "Public" %}</option>
        <option value="Restricted">{% trans "Restricted" %}</option>
        <option value="Private">{% trans "Private" %}</option>
      </select>
    </fieldset>
    </div>

    <div class="form_row_div">
      <label class="field_label">{% trans "Type of hazard threat" %}<span class="required">*</span> {% trans "and Recommended protective action" %}</label>
      <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true" >
        <label for="select-categories" class="ui-hidden-accessible">{% trans "Type of hazard" %}</label>
        <select name="select-categories" id="select-categories" class="required-field" data-mini="true" onchange="view2model(this);">
          <option value="">{% trans "Type of hazard" %}</option>
          <option value="Geo">{% trans "Geophysical" %}</option>
          <option value="Met">{%trans "Weather" %}</option>
          <option value="Safety">{% trans "Public safety" %}</option>
          <option value="Security">{% trans "Security" %}</option>
          <option value="Rescue">{% trans "Rescue" %}</option>
          <option value="Fire">{% trans "Fire" %}</option>
          <option value="Health">{% trans "Health" %}</option>
          <option value="Env">{% trans "Environmental" %}</option>
          <option value="Transport">{% trans "Transportation" %}</option>
          <option value="Infra">{% trans "Infrastructure/Utilities" %}</option>
          <option value="CBRNE">{% trans "Weapon of mass destruction" %}</option>
          <option value="Other">{% trans "Not otherwise categorized" %}</option>
        </select>
        <label for="select-responseTypes" class="ui-hidden-accessible">{% trans "Response type" %}</label>
        <select name="select-responseTypes" id="select-responseTypes" data-mini="true" onchange="view2model(this)">
          <option value="">{% trans "Recommended action" %}</option>
          <option value="Shelter">{% trans "Take shelter" %}</option>
          <option value="Evacuate">{% trans "Evacuate" %}</option>
          <option value="Prepare">{% trans "Make preparations" %}</option>
          <option value="Execute">{% trans "Execute pre-planned action" %}</option>
          <option value="Avoid">{% trans "Avoid the area" %}</option>
          <option value="Monitor">{% trans "Monitor conditions" %}</option>
          <option value="AllClear">{% trans "Resume normal activities" %}</option>
          <option value="None">{% trans "Take no action" %}</option>
          <option value="Assess">{% trans "Evaluate situation [not for public alerts]" %}</option>
        </select>
      </fieldset>
    </div>

    <div class="form_row_div">
      <label class="field_label">{% trans "Message priority" %}<span class="required">*</span></label>
      <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true" >
        <label for="select-urgency" class="ui-hidden-accessible">{% trans "Urgency" %}</label>
        <select name="select-urgency" id="select-urgency" class="required-field" data-mini="true" data-inline="true" onchange="view2model(this)">
          <option value="">{% trans "Urgency" %}</option>
          <option value="Immediate">{% trans "Immediate" %}</option>
          <option value="Expected">{% trans "Expected" %}</option>
          <option value="Future">{% trans "Future" %}</option>
          <option value="Past">{% trans "Already occurred" %}</option>
          <option value="Unknown">{% trans "Unknown" %}</option>
        </select>
        <label for="select-severity" class="ui-hidden-accessible">{% trans "Severity" %}</label>
        <select name="select-severity" id="select-severity" class="required-field" data-mini="true" data-inline="true" onchange="view2model(this)">
          <option value="">{% trans "Severity" %}</option>
          <option value="Extreme">{% trans "Extreme" %}</option>
          <option value="Severe">{% trans "Severe" %}</option>
          <option value="Moderate">{% trans "Moderate" %}</option>
          <option value="Minor">{% trans "Minor" %}</option>
          <option value="Unknown">{% trans "Unknown" %}</option>
        </select>
        <label for="select-certainty" class="ui-hidden-accessible">{% trans "Certainty" %}</label>
        <select name="select-certainty" id="select-certainty" class="required-field" data-mini="true" data-inline="true" onchange="view2model(this)">
          <option value="">{% trans "Certainty" %}</option>
          <option value="Observed">{% trans "Observed event" %}</option>
          <option value="Likely">{% trans "Likely" %}</option>
          <option value="Possible">{% trans "Possible" %}</option>
          <option value="Unlikely">{% trans "Unlikely" %}</option>
          <option value="Unknown">{% trans "Unknown" %}</option>
        </select>
      </fieldset>
    </div>

    <div class="form_row_div">
      <label class="field_label">{% trans "Alert expiration" %}<span class="required">*</span></label>
      <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true" >
        {# TODO(arcadiy): Make effective periods easily configurable by installer. #}
        <select name="select-expires-min" id="select-expires-min" data-mini="true"
            data-inline="true" class="required-field" onchange="view2model(this)">
          <option value="15">{% trans "15 Minutes" %}</option>
          <option value="30">{% trans "30 Minutes" %}</option>
          <option value="45">{% trans "45 Minutes" %}</option>
          <option value="60">{% trans "1 Hour" %}</option>
          <option value="90">{% trans "90 Minutes" %}</option>
          <option value="120">{% trans "2 Hours" %}</option>
          <option value="180">{% trans "3 Hours" %}</option>
          <option value="240">{% trans "4 Hours" %}</option>
          <option value="300">{% trans "5 Hours" %}</option>
          <option value="360">{% trans "6 Hours" %}</option>
          <option value="Other">{% trans "Other" %}...</option>
        </select>
      </fieldset>
    </div>
    <div id="custom-expiration-time-block" class="form_row_div">
      <label class="field_label">{% trans "Manual effective expiration" %}</label>
      <input type="text"
             id="text-expires"
             name="text-expires"
             placeholder="{% trans "Enter expiration time in minutes" %}"
             onkeydown="removeStyles(this)"
             onpaste="removeStyles(this)">
    </div>
    <div>
      <input type="hidden" id="hidden-references" name="hidden-references" value="" />
    </div>
    <div class="divider"></div>
    <span class="required-placeholder hidden">* {% trans "Required fields" %}</span>
    <a href="#" id="alert-next-button" data-role="button" data-mini="true" class="ui-mini next" data-icon="arrow-r"
      data-iconpos="right">{% trans "NEXT: Add Alert Details" %}</a>
  </div><!-- /content -->

  {% include "include/footer.inc.tmpl" with tab='alert' %}

</div><!-- /page #alert-->


<!-- INFO BLOCK -->
<div data-role="page" id="info">

  {% include "include/header.inc.tmpl" with tab='info' %}

  <div data-role="content" class="jqm-content">
    <div class="form_row_div">
      <label class="field_label">{% trans "Language" %}</label>
        <select name="select-language"
                id="select-language"
                data-mini="true"
                data-inline="true"
                onchange="view2model(this)">
        {% for language in LANGUAGES %}
          <option value="{{ language.0 }}">{{ language.1 }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form_row_div">
      <label class="field_label">{% trans "Who is issuing this alert" %}
        {% include "include/placeholder-field-error.inc.tmpl" %}
      </label>
      <input type="text"
             name="text-senderName"
             id="text-senderName"
             class="placeholder-field"
             data-mini="true"
             onkeydown="removeStyles(this)"
             onpaste="removeStyles(this)">
    </div>

    <div class="form_row_div">
      <label class="field_label">{% trans "Event" %}
        <span class="required">*</span>
        {% include "include/placeholder-field-error.inc.tmpl" %}
      </label>
      <input type="text" name="text-event" id="text-event"
             class="required-field placeholder-field"
             data-mini="true"
             onkeydown="removeStyles(this)"
             onpaste="removeStyles(this)">
    </div>

    <div class="form_row_div">
      <label class="field_label">{% trans "Short-text headline" %}
        <span id="headline_length">(<span id="headline_counter">140</span> {% trans "characters left)" %}</span>
        {% include "include/placeholder-field-error.inc.tmpl" %}
      </label>
      <input type="text"
             name="text-headline"
             id="text-headline"
             class="placeholder-field"
             data-mini="true"
             placeholder="{% trans "140 characters maximum" %}"
             onkeydown="removeStyles(this)"
             onpaste="removeStyles(this)">
    </div>

    <div class="form_row_div">
      <label class="field_label">{% trans "Describe the event or hazard" %}
        {% include "include/placeholder-field-error.inc.tmpl" %}
      </label>
      <textarea name="textarea-description"
                id="textarea-description"
                class="placeholder-field"
                data-mini="true"
                onkeydown="removeStyles(this)"
                onpaste="removeStyles(this)"></textarea>
    </div>

    <div class="form_row_div">
      <label class="field_label">{% trans "What should affected people do" %}
        {% include "include/placeholder-field-error.inc.tmpl" %}
      </label>
      <textarea name="textarea-instruction"
                id="textarea-instruction"
                class="placeholder-field"
                data-mini="true"
                onkeydown="removeStyles(this)"
                onpaste="removeStyles(this)"></textarea>
    </div>

    <div class="form_row_div">
      <label class="field_label">{% trans "Who is media contact" %}
        {% include "include/placeholder-field-error.inc.tmpl" %}
      </label>
      <input type="text"
             name="text-contact"
             id="text-contact"
             class="placeholder-field"
             data-mini="true"
             placeholder="{% trans "Include telephone and/or email" %}"
             onkeydown="removeStyles(this)"
             onpaste="removeStyles(this)">
    </div>

    <div class="form_row_div">
      <label class="field_label" >{% trans "Alternate alert website" %}
        {% include "include/placeholder-field-error.inc.tmpl" %}
      </label>
      <input type="text"
             name="text-web"
             id="text-web"
             class="placeholder-field"
             data-mini="true"
             placeholder="{% trans "URL for a separate HTML version of this alert" %}"
             onkeydown="removeStyles(this)"
             onpaste="removeStyles(this)">
    </div>

    <div id="parameter_div" class="form_row_div"></div>
    <div class="divider"></div>
    <div class="required-placeholder hidden">* {% trans "Required fields" %}</div>
    <div class="invalid-placeholder hidden">* {% trans "Invalid {{ template placeholders }}" %}</div>
    <a href="#" id="info-next-button" data-role="button" data-mini="true" class="ui-mini-smaller next" data-icon="arrow-r"
      data-iconpos="right">{% trans "NEXT: Target Area" %}</a>

  </div><!-- /content -->

  {% include "include/footer.inc.tmpl" with tab='info' %}

</div><!-- /page #info-->


<!-- AREA BLOCK -->
<div data-role="page" id="area">

  {% include "include/header.inc.tmpl" with tab='area' %}

  <div data-role="content" data-role="content" class="jqm-content">
    <div class="form_row_div">
      <div class="templates-control">
        <div class="templates">
          <label class="field_label">{% trans "Add area from template" %}</label>
          <fieldset data-role="controlgroup" data-mini="true" data-type="horizontal" data-inline="true">
            <select name="select-area-template" id="select-area-template" data-mini="true" data-inline="true" onchange="handleAreaTemplateChange('{% url 'template' 'area' %}', '{% url 'admin:core_areatemplate_add' %}');">
              <option value="None">{% trans "None" %}</option>
              {% for template in area_templates %}
                <option value="{{ template.id }}">{{ template.title }}</option>
              {% endfor %}
              <option value="CreateNewAreaTemplate">{% trans "Create a new area template" %}</option>
            </select>
          </fieldset>
        </div>
        <div class="clear">
          <a id="clear-area-templates" href="#" onclick="clearAreaTemplates();">
              {% trans "Clear all area templates" %}
          </a>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="form_row_div">
      <label class="field_label">{% trans "Describe the alert area" %}
        <span class="required">*</span>
        {% include "include/placeholder-field-error.inc.tmpl" %}
      </label>
      <textarea name="textarea-areaDesc"
                id="textarea-areaDesc"
                class="required-field placeholder-field"
                data-mini="true"
                onkeydown="removeStyles(this)"
                onpaste="removeStyles(this)"></textarea>
    </div>

    <div id="map_panel">
      <div id="map" class="largemap" ></div>
      <div id="radius"></div>
    </div>

    <div id="mode_panel">
      <fieldset data-role="controlgroup" data-mini="true" data-type="horizontal" data-inline="true">
        <input type="radio" name="map_mode" value="none" id="noneToggle" onclick="clearPrompt(); toggleControl(this);" checked="checked" />
        <label for="noneToggle">{% trans "Drag" %}</label>
        <input type="radio" name="map_mode" value="circle" id="circleToggle" onclick="toggleControl(this);" />
        <label for="circleToggle">{% trans "Circle" %}</label>
        <input type="radio" name="map_mode" value="polygon" id="polygonToggle" onclick="showPrompt(); toggleControl(this);" class="ui-mini-smaller"/>
        <label for="polygonToggle">{% trans "Shape" %}</label>
        <a onclick="clearLast()" data-role="button" class="ui-mini-smaller">{% trans "Clear last" %}</a>
        <a onclick="clearAll()" data-role="button" class="ui-mini-smaller">{% trans "Clear all" %}</a>
        <!-- TODO(arcadiy): add "Clear all templates" -->
      </fieldset>
    </div>

    <div id="geocode_div"></div>
    <div class="divider"></div>
    <div class="required-placeholder hidden">* {% trans "Required fields" %}</div>
    <div class="invalid-placeholder hidden">* {% trans "Invalid {{ placeholders }}" %}</div>
    <div class="required-combined-placeholder hidden">* {% trans "Fill in at least one of geocode, polygon or circle" %}</div>
    <a href="#" id="area-next-button" type="button" data-mini="true" class="ui-mini-smaller next" data-icon="arrow-r"
       onclick="view2model(this)" data-iconpos="right">{% trans "NEXT: Review &amp; release" %}</a>
  </div><!-- /content -->

  {% include "include/footer.inc.tmpl" with tab='area' %}

</div><!--  /page  #area -->


<!-- REVIEW AND RELEASE -->
<div data-role="page" id="release">

  {% include "include/header.inc.tmpl" with tab='release' %}

  <div data-role="content" class="jqm-content">
    <label class="field_label review-label">{% trans "Review message content" %}</label>
    <div id="review_div"><pre><span id="review_span"></span></pre></div>
    <div id="release_div" data-role="collapsible" data-collapsed="false">
      <label class="field_label">{% trans "Authorize release" %}</label>
      <input type="text" name="text-uid" id="text-uid" data-mini="true" placeholder="{% trans "User ID" %}" value="">
      <input type="password" name="text-pwd" id="text-pwd" data-mini="true" placeholder="{% trans "Password" %}" value="">
    </div>
    <div class="divider"></div>
    <a onclick="sendAlert('{{ csrf_token}}', this);" data-role="button" data-mini="true" data-icon="check" class="ui-mini-smaller release">
      <span id="sending-alert-button">{% trans "Release alert" %}</span>
      <span id="sending-alert-indicator" class="hidden">{% trans "Sending alert" %}...</span>
    </a>
    <span id="response_status"></span>
    <span id="response_uuid"></span>
  </div><!-- /content -->

  {% include "include/footer.inc.tmpl" with tab='release' %}

</div><!-- /page #release-->


</body>
</html>
